div.mg-modalcontainer,
#formfieldset,
.formfieldset {
   background:#fff;
   color: #444;
}

.mg-button, 
.smallbutton {
 	color:#fff;
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	background: #444;
	-moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px; 
 padding: 2px 0 5px 0;
}

.textinput,
.textinputsmall {
  border:solid 1px #9e9e9e;
  background:white;
}

.mg-feedback {
  background:#eeeeee;
}

.mg-calloutbox {
  border:1px solid #d2d2d2;
	background-color:#ff0;
}

#sb-wrapper div.opacity {
  background: #000;
}

#sb-body {
  border: 1px solid #303030;
  background: #fff;
}

#sb-content {
  background: #fff;
}
#sb-body,#sb-loading {
  background-color: #060606;
}

#sb-title {
  background: #666;
  color: #fff;
}

#sb-counter, 
#sb-counter a,
div.sb-message a:link,
#sb-info-inner,
#sb-title-inner
div.sb-message a:visited {
    color: #fff;
}

#sb-container,#sb-wrapper {
  text-align: left;
}
#sb-container,#sb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#sb-container {
  height: 100%;
  display: none;
  visibility: hidden;
  z-index: 999;
}
body>#sb-container {
  position: fixed;
}
#sb-overlay {
  height: expression(document.documentElement.clientHeight+'px');
  background:none;
}
#sb-container>#sb-overlay {
  height: 100%;
}
#sb-wrapper {
  position: relative;
  overflow: hidden;
  padding-top:10px !important;
  padding-bottom:10px !important;
}

#sb-wrapper div.opacity {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  _padding:110% 0 0 0;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=60);
  width: 100%;
  zoom:1;
}
#sb-wrapper img {
  border: none;
}
#sb-body {
  position: relative;
  margin: 0 10px 0 10px;
  padding: 0;
  overflow: hidden;
}
#sb-body-inner {
  position: relative;
  height: 100%;
}
#sb-content.html {
  height: 100%;
  overflow: auto;
}
#sb-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}

#sb-title,#sb-info {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sb-title {
  padding: 5px 10px;
  margin:0 10px 0 10px;
}

#sb-info {
  position: absolute;
  top:17px;
  right:20px;
}
#sb-title-inner,#sb-info-inner {
  position: relative;
  font-family: 'Lucida Grande',Tahoma,sans-serif;
  line-height: 16px;
}
#sb-title,#sb-title-inner {
  height: 26px !important;
}
#sb-title-inner {
  font-size: 16px;
  padding: 5px 0;
}
#sb-info,#sb-info-inner {
  height: 20px;
}
#sb-info-inner {
  font-size: 12px;
}
#sb-nav {
  float: right;
  height: 16px;
  padding: 2px 0;
  width: 45%;
}
#sb-nav a {
  display: block;
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
}
#sb-nav-close {
  background-image: url(resources/close.png);
  background-repeat: no-repeat;
}
#sb-nav-next {
  background-image: url(resources/next.png);
  background-repeat: no-repeat;
}
#sb-nav-previous {
  background-image: url(resources/previous.png);
  background-repeat: no-repeat;
}
#sb-nav-play {
  background-image: url(resources/play.png);
  background-repeat: no-repeat;
}
#sb-nav-pause {
  background-image: url(resources/pause.png);
  background-repeat: no-repeat;
}
#sb-counter {
  float: left;
  padding: 2px 0;
  width: 45%;
}
#sb-counter a {
  padding: 0 4px 0 0;
  text-decoration: none;
  cursor: pointer;
}
#sb-counter a.sb-counter-current {
  text-decoration: underline;
}
div.sb-message {
  font-family: 'Lucida Grande',Tahoma,sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
div.sb-message a:link,div.sb-message a:visited {
  text-decoration: underline;
}